rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all access
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow authenticated users to manage their own tasks
    match /tasks/{taskId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // Allow users to be created and for authenticated users to read user data
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth.uid == userId;
    }
  }
}
